/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


.titleHeader
{
	fontSize: 16;
	fontWeight: bold;
	backgroundColor : #000000;
	color : #FFFFFF;
	paddingLeft : 20;
	verticalAlign : middle;
	
}
	